#board-workspace {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#shapes-container,
#board-container {
  border: 1px solid #ccc;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.grid-board {
  display: grid;
  gap: 1px;
}
