/* Base cell style */
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  background-color: var(--cell-background-color);
  border: 1px solid var(--cell-border-color);
  color: var(--cell-text-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-weight: bold;
}