.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    color: var(--text-on-primary);
    z-index: 1000;
    font-size: 1.2rem;
    box-shadow: var(--notification-shadow);
    opacity: 1;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

.notification.info {
    background-color: var(--notification-info-background);
}

.notification.success {
    background-color: var(--notification-success-background);
}

.notification.warning {
    background-color: var(--notification-warning-background);
}

.notification.error {
    background-color: var(--notification-error-background);
}
