html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#controlPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: orange;
}

#grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: grey;
}

#grid img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

#grid #cells {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#grid #cells .cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid black;
}
