html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-main);
  font-family: var(--font-family-main);
}

#root {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box; /* Include padding in height calculation */
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  min-height: 0; /* Important for flex-grow in a column */
}

#board {
  border: 2px green;
  padding: 10px;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.3);
  background-color: grey;
  position: relative;
  box-sizing: border-box;
}

.puzzle-container {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: var(--background-main); /* A more neutral grey */
}

.controls-container {
  flex-shrink: 0; /* Prevent controls from shrinking */
}

#image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

#board-workspace {
  position: absolute;
  border-radius: 5px;
  /* cursor: crosshair; */
}
